<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Distance%>
    <%= form.number_field :distance, in: 1.0..20.0, step: 0.5 %>
  </div>

  <div class="field">
    <%= form.label :Guests%>
    <%= form.number_field :title, in: 0.0..20.0, step: 1.0 %>
  </div>

  <div class="field">
    <%= form.label :Price%>
    <%= form.number_field :title, in: 0.0..20.0, step: 1.0 %>
  </div>

  <div class="actions">
    <%= form.label :Test %>
    <%= form.submit %>
  </div>
<% end %>
