<p id="notice"><%= notice %></p>


<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

</style>




<table id="customers">
  <tr>
    <th>Resturant Name</th>
    <th>Distance</th>
    <% if user_signed_in? %>
      <th>Where we going?</th>
      <th>Lets go somewhere else.</th>
      <th>Lets try again some other time</th>
    <% end %>
  </tr>
  <% @projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.description %></td>
      <% if user_signed_in? %>
        <td><%= link_to 'Where we going?', project %></td>
        <td><%= link_to 'Lets go somewhere else.', edit_project_path(project) %></td>
        <td><%= link_to 'Lets try again some other time', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<br>


<%= button_to "Lets Grab Something", new_project_path, :method => :get %>
