<!DOCTYPE html>
<html>
  <head>
    <title>LetsGrabSomethingLocal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #6082B6;
      }

      li {
        float: left;
      }

      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      li a:hover {
        background-color: lightblue;
      }

      li a:visited{
        color:white;
      }
    </style>
  </head>

  <body>
    <ul>
      <li><%= link_to 'Home', projects_path %></li>
      <li><%= link_to 'Lets Grab Something', new_project_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |</li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
        <li><a href="#user"><%= current_user.email %></a></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |</li>
        <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %></li>
      <% end %>

    </ul>

    <p class="navbar-text float-right">
    <p class="notice"><%= notice %></p> 
    <p class="alert"><%= alert %></p> 
    
    <%= yield %>
  </body>
</html>
